<head>
	<title>My Life Home Page</title>
	<link rel="stylesheet" href="../../assets/stylesheets/home.css" type="text/css">
</head>

<h1 class="homemylife">My Life</h1>
<p class="hometurtle">
	<%= image_tag "turtle.png" %>
</p>

<div class="homecreatenewstepbutton">
				<%= link_to "Create New", new_step_path, class: 'btn btn-info' %>
</div>


	<div class="homereminisce">
		<h2>Reminisce</h2>
	</div>
	<div class="homebrowse">
		<h2>Browse</h2>
	</div>
	<div class="homereminiscebox">
	</div>
	
	<div class="homebrowsebox">
		<ul>
			<%= @years_array.each do |year|  %>
			<li>	
				<%= link_to year.to_s, "/steps/", :method => :get %> 
			</li>
		</ul>
		<% end  %> 
	</div>

<div class="homeprompts">
	<h2>Prompts</h2>
</div>
<div class="homepromptsbox">
<% @three_prompts %> 

			<% @three_prompts.each do |prompt|  %>
				<div>
					<%= link_to prompt, new_step_path, class: 'btn btn-info'  %>
				</div>

				</br>
				
			<% end %>
</div>

