<head>
	<title>My Life Home Page</title>
	<link rel="stylesheet" href="../../assets/stylesheets/home.css" type="text/css">
</head>
<div class="homesettings">
<%= link_to "Settings", edit_user_registration_path %>
</div>
<div class="homeheader">
<div class="homeprofilepicture">
<%= image_tag current_user.profile_pic if current_user.profile_pic %>
</div>
<h1 class="homemylife">My Life</h1>
<p class="hometurtle">
	<%= image_tag "turtle.png" %>
</p>
</div>

</br></br>

<div class="homecreatenewstepbutton">
				<%= link_to "Create New Step", new_step_path, class: 'btn btn-info' %>
</div>

	<div class="homereminisce">
		<h2>Reminisce</h2>
	</div>
	<div class="homebrowse">
		<h2>Browse Steps</h2>
	</div>
	<div class="homereminiscebox">



	<% @rem_hash.each do |step| %>
			<div>
				<%= step.to_s %>
			</div>
			</br>

		<% end %>

<!-- convert each key and val to a string and put separation in between them
 -->




	</div>
	
	<!-- ["2012", "2013"] -->

	<div class="homebrowsebox">
		<ul>
			<% @years_array.each do |year|  %>
			<li class="homebrowseyears">
				<%= link_to year.to_s, "/steps?year=#{year}", :method => :get %> 
			</li>
		

		<% end  %>
		</ul> 
	</div>

<div class="homeprompts">
	<h2>Prompts</h2>
</div>
<div class="homepromptsbox">
<% @three_prompts %> 

			<% @three_prompts.each do |prompt|  %>
				<div>
					<%= link_to prompt, new_step_path, class: 'btn btn-info'  %>
				</div>

				</br>
				
			<% end %>
</div>
<br/>
<footer class="footer">
	&copy My Life | 2014 | Harrison Woodward and Gardner Fiveash
</footer>

