<head>
	<title>My Life Home Page</title>
	<link rel="stylesheet" href="../../assets/stylesheets/home.css" type="text/css">
</head>
<div class="homesettings">
<%= link_to "Settings", edit_user_registration_path %>
</div>
<div class="homeheader">
<div class="homeprofilepicture">
	<% if current_user.profile_pic %>
	<%= image_tag current_user.profile_pic %>
	<% else %>
	<%= image_tag "https://graph.facebook.com/harrison.woodward3/picture?width=160&height=140"%>
	<% end %>
</div>
<h1 class="homemylife">My Life</h1>
<p class="hometurtle">
	<%= image_tag "turtle.png" %>
</p>
</div>

</br></br>

<div class="homecreatenewstepbutton">
				<%= link_to "Create New Step", new_step_path, class: 'btn btn-info' %>
</div>

	<div class="homereminisce">
		<h2>Reminisce</h2>
	</div>
	<div class="homebrowse">
		<h2>Browse Steps</h2>
	</div>

	<div class="homereminiscebox">



<div id="myCarousel" class="carousel slide" data-ride="carousel">
  			<ol class="carousel-indicators">
   				<li data-target="#myCarousel" data-slide-to="0"  class="active">
    
    			</li>
   				 <li data-target="#myCarousel" data-slide-to="1" >
    	
				</li>
    			<li data-target="#myCarousel" data-slide-to="2" >
    
				</li>
  			</ol>
  <!-- Carousel items -->
  	<div class="carousel-inner">
    	<div class="active item">	<%  @steps.sample(5).each do |step| %>

			<div class="homereminiscetitles">
				<%= link_to step.title, "/steps/#{step.id}" %>
			</div>

			<div class="homereminiscedates">
				<%= step.event_date.strftime("%B %d, %Y") %>
			</div> 

			<% end %>
		</div>


    	<div class="item">	<%  @steps.sample(5).each do |step| %>


			<div class="homereminiscetitles">
				<%= link_to step.title, "/steps/#{step.id}" %>
			</div>


			<div class="homereminiscedates">
				<%= step.event_date.strftime("%B %d, %Y") %>
			</div> 

			<% end %>
		</div>

    	<div class="item">	
    		<%  @steps.sample(5).each do |step| %>

			<div class="homereminiscetitles">
				<%= link_to step.title, "/steps/#{step.id}" %>
			</div>
			<div class="homereminiscedates">
				<%= step.event_date.strftime("%B %d, %Y") %>
			</div> 

			<% end %>
		</div>
  </div>
  <!-- Carousel nav -->
<!--   <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
</div>

	
	</div>
	
	<!-- ["2012", "2013"] -->

	<div class="homebrowsebox">
		<ul>
			<% @years_array.each do |year|  %>
			<li class="homebrowseyears">
				<%= link_to year.to_s, "/steps?year=#{year}", :method => :get %> 
			</li>
		

		<% end  %>
		</ul> 
	</div>

<div class="homeprompts">
	<h2>Prompts</h2>
</div>
<div class="homepromptsbox">
<% @three_prompts %> 

			<% @three_prompts.each do |prompt|  %>
				<div class="homepromptsprompts">
					<%= link_to prompt, new_step_path, class: 'btn btn-info'  %>
				</div>

				</br>
				
			<% end %>
</div>
<br/>
<footer class="footer">
	&copy My Life | 2014 | Harrison Woodward and Gardner Fiveash
</footer>

