<h1>Edit Step</h1>
<p class="stepinfo">"Small steps lead to big change."<%= image_tag "turtle.png"%> </p>
<%= form_for @step do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title, :required => true, :size => "40" %>
	<br/><br/>
	<%= f.label :event_date %>
	<%= f.date_field :event_date, :size => "40", class: 'date_field_input' %>
	<br/><br/>
	<%= f.label :tags %>
	<%= f.select :tags, options_for_select(@tags_array) %>
	<br/><br/>
	<br/>
	<%= f.submit "Submit", name: "commit", value: "save" %>
	<br/><br/>
<% end %>