
<div>
<%= link_to "Home", "/homes" %> 
</div>

<h1>Steps</h1>

	<%= form_tag "/steps", method: 'GET' do %>

		<%= text_field_tag 'query', params[:query], placeholder: "Search Steps" %>



		<%= link_to "See all", "/steps" %>

	<% end %>



<div class="homecreatenewstepbutton">
	<%= link_to "Create New", new_step_path, class: 'btn btn-info' %>
</div>
<div>
<% @steps.each do |step| %>
	<li class="steptitles">
		<%= link_to step.title, step_path(step), :method => :get %>
		</br>
	</li>
	</br><p>
		Date:	<%= step.event_date.strftime("%m/%d/%Y") %> 
	</p>
		<p class="stepsdeletebutton">
		<%= link_to "delete", step_path(step), :method => :delete %>
		</br>

		
		</p>
	<hr color="#8DB477">
	
<% end %>
</br>
</div>

