<h1>New Step</h1>
<%= form_for(@step, :url => steps_path) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br/><br/>
	<%= f.label :post %>

	<br/>
	
	<%= f.text_area :post, :cols => "50", :rows => "10" %>

	<%= f.submit "Submit" %>

<% end %>