



<%= link_to "Back", "/steps?year=#{@step.event_date.year}" %> 

<h1>New Step</h1>
<p class="stepinfo">"Small steps lead to big change."<%= image_tag "turtle.png"%> </p>



<%= form_for(@step ) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title,:required => true, :size => "40" %>

<br/><br/>

<%= f.label :event_date %>
	<%= f.date_field :event_date, :size => "40", class: 'date_field_input' %>


<br/><br/>

<%= label_tag :body %>
<br/>
<%= text_area_tag :body, nil,:required => true, :cols => "50", :rows => "10" %>
<br/>
<%= f.submit "Submit", name: "commit", value: "save" %>
<br/><br/>

<!-- if params[:commit]  == save -->

<% end %>




