<%= link_to "Back", "/" %> 

<h1>New Step</h1>

<%= form_for(@step, :url => steps_path) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title, :size => "40" %>

<br/><br/>

<%= f.label :date %>
	<%= f.text_field :created_at, :size => "40" %>


<br/><br/>

<%= label_tag :body %>
<br/>
<%= text_area_tag :body, nil, :cols => "50", :rows => "10" %>
<br/>
<%= f.submit "Submit" %>
<br/><br/>



<% end %>