

<h1> <%= @step.title %> </h1>



<%= link_to "Add Post", "/posts/new?step_id=#{params[:id]}", class: 'btn btn-info' %>
</br></br>
<%= form_tag "/steps/#{params[:id]}", method: 'GET' do %>
	
	<%= text_field_tag 'query', params[:query_posts], placeholder: "Search Posts" %>

	<%= link_to "See all", "/steps/#{params[:id]}" %>

<% end %>

<p>


<% @posts.each do |post| %>
<div>
	<%= post.body %>
</div>

<div class="postsdeletebutton">
	<%= link_to "delete", post_path(post), :method => :delete %>
</div>

<p>
Created at: <%= post.created_at.strftime("%m/%d/%Y") %>
</p>

<hr color="#8DB477"/>

<% end %>

</p>
<%= link_to "Back", "/steps" %> 


	
