

<h1> <%= @step.title %> </h1>



<%= link_to "Add Post", "/posts/new?step_id=#{params[:id]}", class: 'btn btn-info' %>
</br></br>

<p>

<% @step.posts.each do |post| %>
<div>
	<%= post.body %>
</div>

<div class="postsdeletebutton">
	<%= link_to "delete", post_path(post), :method => :delete %>
</div>
Created at: <%= post.created_at.strftime("%m/%d/%y") %>
<hr color="#8DB477"/>

<% end %>

</p>
<%= link_to "Back", "/steps" %> 


	
