
<%= link_to "Back", posts_path %>
<h1>Add a Post</h1>

<%= form_for(  @post  ) do |f| %>
	<%= f.label "New Post" %>

	<input type="hidden" name="step_id" value=  <%= "#{params[:step_id]}" %>  >
</br>

<%= text_area_tag :body,:required => true, nil, :cols => "50", :rows => "5" %>
<%= f.submit "Submit" %>


<% end %>


